[program:ferretdb-{{ item.name }}]
autorestart = true
autostart = true
command = {{ ferretdb_binary }}
  --listen-addr={{ ferretdb_host }}:{{ item.listen_port }}
  --postgresql-url=postgres://{{ item.pg_user }}:{{ item.pg_password }}@{{ item.pg_host }}:{{ item.pg_port }}/postgres
  --state-dir={{ ferretdb_dir }}/{{ item.name }}
  --debug-addr=127.0.0.1:{{ item.debug_port }}
  --log-level=info
directory = {{ ferretdb_dir }}/{{ item.name }}
environment =
redirect_stderr = false
stderr_logfile = {{ ferretdb_dir }}/{{ item.name }}/logs/ferretdb-err.log
stderr_logfile_maxbytes = 20MB
stderr_logfile_backups = 5
stdout_logfile = {{ ferretdb_dir }}/{{ item.name }}/logs/ferretdb-out.log
stdout_logfile_maxbytes = 50MB
stdout_logfile_backups = 5
user = ferretdb
startsecs = 10
startretries = 3
